<div id="page-container" [style.height.px]="windowHeight">

</div>


<!-- Preloader overlay -->
<div id="loading-overlay" [@loadingState]="loadingState">

  <div id="loading-content">
    <img src="../../assets/bird black.svg" alt="bitbird logo" id="loading-logo">
    <img src="../../assets/loader.gif" alt="loading icon" id="preloader-gif">
  </div>

</div>


<!-- Email popup -->

<!-- Share popup -->
<div id="share-overlay" [@shareState]="shareState">


  <div id="share-container">

  </div>

</div>
