<div id="page-container" [style.height.px]="windowHeight">

</div>


<!-- Preloader overlay -->
<div id="loading-overlay" [@loadingState]="loadingState">

  <div id="loading-content">
    <img src="../../assets/bird black.svg" alt="bitbird logo" id="loading-logo">
    <img src="../../assets/loader.gif" alt="loading icon" id="preloader-gif">
  </div>

</div>


<!-- Share popup -->
<div id="share-overlay" [@shareState]="shareState">


  <div id="share-container">
  	<div id="share-popup">

  	  <h2 id="share-title"> {{ (endMessage | async)?.title | uppercase }} </h2>

  	  <p id="share-content">
  	    {{ (endMessage | async)?.content }}
  	  </p>

  	  <div id="share-controls-desktop" *ngIf="!canShare">

  	    <div id="share-btn-twitter" class="share-btn" (click)="onShareToTwitter()" title="Share on Twitter!">
          SHARE ON TWITTER
  	    </div>

  	    <div id="share-btn-facebook" class="share-btn" (click)="onShareToFacebook()" title="Share on Facebook">
          SHARE ON FACEBOOK
  	    </div>

  	    <div id="share-btn-link" class="share-btn" (click)="onCopyToClipboard()" title="Copy the link to share with your friends!">
          COPY LINK
  	    </div>

  	  </div>

  	  <div id="share-controls-mobile" *ngIf="canShare">
  	    <div id="share-control-mobile-btn" (click)="onMobileShare()">SHARE</div>
  	  </div>

  	</div>

  	<div id="link-popup">
      <h2 id="link-title">Join the community!</h2>
      <div id="communities-container">
        <a href="https://youtube.com/droeloemusic" class="community-link" target="_blank">YOUTUBE</a>
        <a href="https://www.facebook.com/groups/908924002589641/" class="community-link"  target="_blank">FACEBOOK</a>
        <a href="https://www.reddit.com/r/DROELOE/" class="community-link" target="_blank">REDDIT</a>
      </div>
  	</div>
  </div>

</div>
