<div id="page-container" class="static-frame" [style.height.px]="windowHeight">

  <div id="output-container">

    <div id="output-title">Thank you. You can now download your tickets</div>

    <button class="screen-btn" id="download-tickets-btn" (click)="onDownload()">Download tickets</button>

  </div>


  <div id="share-container">

    <div id="share-title">Share with your friends</div>

    .share-option

    <div id="download-fallback">Download didn't start? Click here</div>

  </div>

</div>



<!-- Preloader overlay -->
<div id="loading-overlay" [@loadingState]="loadingState">

  <div id="loading-content">
    <img src="../../assets/bird black.svg" alt="bitbird logo" id="loading-logo">
    <img src="../../assets/loader.gif" alt="loading icon" id="preloader-gif">
  </div>

</div>

