#page-container
  height: 100vh
  width: 100vw
  background: #000
  color: #fff
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  .save-link-btn
    background: none
    border: none
    font-size: 2em
    color: #fff
    cursor: pointer
    transition: color .2s ease
    outline: none

    &:hover
      color: rgba(#fff, .6)

  #messenger-btn
    margin-top: 20px
