<div id="page-container" class="static-frame" [ngClass]="{'vertical': isVertical === true}" [style.height.px]="windowHeight">

  <div id="start-container" *ngIf="stage === 'start'">
    <button id="start-btn" class="screen-btn" (click)="onStart()">Start</button>
  </div>


  <form id="inputs-container" (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="stage === 'data'">

    <!-- Departing from -->
    <div class="input-group" id="origin-group">
      <label for="origin">Departing from:</label>
      <input type="text" placeholder="[Origin]" id="origin-input" name="origin" title="Fill in your origin location" [(ngModel)]="formData.origin">
    </div>

    <!-- Going to -->
    <div class="input-group" id="destination-group">
      <label for="destination">Going to:</label>
      <input type="text" placeholder="[Destination]" id="destination-input" name="destination" title="Fill in your destination location" [(ngModel)]="formData.destination">
    </div>

    <!-- Name -->
    <div class="input-group" id="name-group">
      <label for="name">Name:</label>
      <input type="text" placeholder="[Name]" id="name-input" name="name" title="Fill in your name" [(ngModel)]="formData.name">
    </div>

    <!-- Email -->
    <div class="input-group" id="email-group">
      <label for="email">Email:</label>
      <input type="email" placeholder="[email@email.com]" id="email-input" name="email" title="Fill in your email address" [(ngModel)]="formData.email">
    </div>

    <button id="submit-btn" class="screen-btn" type="submit" title="Click to choose a presave option to get your ticket">Pre-save to print ticket</button>

  </form>


  <div id="presave-options-container" *ngIf="stage === 'save'">

    <div id="presave-option-title">
      Choose an option
    </div>

    <div class="save-option" id="spotify-option" (click)="onSpotifyLogin()">
      <img src="../../assets/logos/spotify.png" alt="Spotify logo" rel="preload">
      <div class="save-btn" id="spotify-save-btn">Pre-save on Spotify</div>
    </div>

    <div class="save-option" id="apple-option" (click)="onAppleLogin()">
      <img src="../../assets/logos/apple.png" alt="Apple Music logo" rel="preload">
      <div class="save-btn" id="spotify-save-btn">Pre-add on Apple Music</div>
    </div>

  </div>

</div>
