#page-container
  width: 100vw
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  min-height: -webkit-fill-available

  &.mobile
    min-height: -webkit-fill-available !important

  #start-container
    display: none

  #inputs-container
    display: inline-grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr .5fr
    grid-column-gap: 40px
    grid-row-gap: 40px
    padding: 40px

    #origin-group
      grid-column-start: 1
      grid-column-end: 3

    #destination-group
      grid-column-start: 3
      grid-column-end: 5

    #name-group
      grid-column-start: 1
      grid-column-end: 3
      grid-row: 2

    #email-group
      grid-column-start: 3
      grid-column-end: 5
      grid-row: 2




    #submit-btn
      grid-column-start: 2
      grid-column-end: 4
      grid-row: 3
      height: auto
      text-align: center

    .input-group
      display: flex
      flex-direction: column
      color: #fff

      label
        margin-bottom: 5px
        font-weight: bold
        font-family: Arial, Helvetica, sans-serif
        font-size: 1.4em

      input
        border: 3px solid #fff
        background: #6787ED
        outline: none
        color: #fff
        font-size: 1.4em
        padding: 10px 10px

        &::placeholder
          color: #fff



.screen-btn
  outline: none
  -webkit-tap-highlight-color: none
  border: 3px solid #fff
  background: #6787ED
  color: #fff
  padding: 10px 20px
  font-family: Arial, Helvetica, sans-serif
  font-size: 1.4em
  font-weight: bold
  cursor: pointer
  box-shadow: none
  transition: box-shadow .2s ease
  user-select: none

  &:hover
    // box-shadow: 4px 4px 12px rgba(0,0,0,.2)

  &:active
    // box-shadow: none


.static-frame
  background-image: url('../../assets/background.jpg')
  background-size: cover
  background-position: center

